In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [5]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [6]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes',]]

In [7]:
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [10]:
X_train,X_test,Y_train,Y_test

(      age     bp   al   su    bgr         bu        sc         sod       pot  \
 240  60.0  100.0  0.0  3.0  263.0  27.000000  1.300000  135.000000  4.300000
 218  57.0   80.0  0.0  0.0  120.0  48.000000  1.600000  137.528754  4.627244
 101  42.0   70.0  0.0  0.0   75.0  31.000000  1.200000  141.000000  3.500000
 311  66.0   70.0  1.0  0.0  248.0  30.000000  1.700000  138.000000  5.300000
 194  55.0   80.0  0.0  0.0  146.0  57.482105  3.077356  137.528754  4.627244
 ..    ...    ...  ...  ...    ...        ...       ...         ...       ...
 323  68.0   70.0  0.0  0.0   98.0  86.000000  4.600000  135.000000  3.400000
 192  54.0   90.0  1.0  0.0  150.0  18.000000  1.200000  140.000000  4.200000
 117  45.0   80.0  0.0  0.0  107.0  15.000000  1.000000  141.000000  4.200000
 47   30.0   80.0  0.0  0.0   89.0  42.000000  0.500000  139.000000  5.000000
 172  51.0   60.0  0.0  0.0  129.0  25.000000  1.200000  139.000000  5.000000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 240  12.700000  ...           1          1            0           0        1
 218  11.300000  ...           1          1            0           0        1
 101  16.500000  ...           1          1            0           0        0
 311  12.518156  ...           1          1            0           0        1
 194   9.800000  ...           1          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 323   9.800000  ...           1          1            0           0        1
 192  12.518156  ...           1          0            0           0        0
 117  11.800000  ...           1          0            0           0        0
 47   16.700000  ...           1          1            0           0        0
 172  17.200000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 240       1        1          1       0        0
 218       1        0          1       0        0
 101       0        0          1       0        0
 311       1        0          1       0        0
 194       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 323       1        1          0       1        0
 192       0        0          0       1        1
 117       0        0          1       0        0
 47        0        0          1       0        0
 172       0        0          1       0        0

 [266 rows x 27 columns],
            age     bp   al   su         bgr    bu   sc         sod       pot  \
 132  46.000000   70.0  0.0  0.0  100.000000  47.0  0.5  142.000000  3.500000
 309  66.000000   90.0  2.0  0.0  153.000000  76.0  3.3  137.528754  4.627244
 334  69.000000   70.0  0.0  0.0   83.000000  42.0  1.2  139.000000  3.700000
 196  55.000000  100.0  1.0  4.0  297.000000  53.0  2.8  139.000000  4.500000
 246  60.000000   90.0  2.0  0.0  105.000000  53.0  2.3  136.000000  5.200000
 ..         ...    ...  ...  ...         ...   ...  ...         ...       ...
 349  71.000000   70.0  0.0  0.0   81.000000  18.0  0.8  145.000000  5.000000
 168  50.000000   80.0  0.0  0.0  137.000000  46.0  0.8  139.000000  5.000000
 150  48.000000  100.0  0.0  0.0  103.000000  79.0  5.3  135.000000  6.300000
 392  51.492308   60.0  3.0  0.0  148.112676  34.0  1.2  137.528754  4.627244
 66   34.000000   60.0  0.0  0.0   91.000000  49.0  1.2  135.000000  4.500000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 132  16.400000  ...           1          1            0           0        0
 309  12.518156  ...           1          1            0           1        0
 334  16.200000  ...           1          1            0           0        0
 196  11.200000  ...           1          1            0           0        1
 246  11.100000  ...           0          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 349  14.700000  ...           1          1            0           0        0
 168  14.100000  ...           1          1            0           0        0
 150   6.300000  ...           1          1            0           0        1
 392  10.800000  ...           0          0            0           0        0
 66   13.500000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 132       0        0          1       0        0
 309       0        0          0       0        0
 334       0        0          1       0        0
 196       1        0          1       0        0
 246       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 349       0        0          1       0        0
 168       0        0          1       0        0
 150       0        1          0       0        0
 392       0        0          1       0        0
 66        0        0          1       0        0

 [133 rows x 27 columns],
      classification_yes
 240                   1
 218                   1
 101                   0
 311                   1
 194                   1
 ..                  ...
 323                   1
 192                   1
 117                   1
 47                    0
 172                   0

 [266 rows x 1 columns],
      classification_yes
 132                   0
 309                   1
 334                   0
 196                   1
 246                   1
 ..                  ...
 349                   0
 168                   0
 150                   1
 392                   1
 66                    0

 [133 rows x 1 columns])

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['gini','entropy'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,cv=5,n_jobs=-1,scoring='f1_weighted')
# fitting the model for grid search
grid.fit(X_train, Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    6.0s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    7.9s finished
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [14]:
re=grid.cv_results_

In [15]:
grid_predictions=grid.predict(X_test)
from sklearn.metrics import confusion_matrix  
cm=confusion_matrix (Y_test,grid_predictions)
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [16]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [17]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}: 0.9924667654735397

In [18]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[50  1]
 [ 0 82]]

In [19]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       1.00      0.98      0.99        51
           1       0.99      1.00      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [20]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.9998804399808704

In [21]:
table=pd.DataFrame.from_dict(re)

In [22]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.073756,0.027720,0.006796,0.001167,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.926978,0.981378,0.962573,0.981031,1.000000,0.970159,0.024762,7
1,0.243050,0.012727,0.026583,0.003439,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",1.000000,0.943366,0.981217,0.981031,0.980653,0.977199,0.018612,4
2,0.039175,0.004211,0.007596,0.002152,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.963284,0.962963,0.925524,0.981031,0.980868,0.962669,0.020172,11
3,0.251445,0.011818,0.025584,0.001742,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.981569,0.943366,0.962573,0.981031,0.980653,0.969742,0.015117,10
4,0.032780,0.002133,0.006196,0.001165,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.981569,0.981378,0.944023,0.962264,0.980653,0.970024,0.014900,8
5,0.256041,0.013809,0.025984,0.002529,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.981378,0.981217,0.981031,1.000000,0.988698,0.009200,1
6,0.041574,0.013741,0.005797,0.000400,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.981569,0.962517,0.907035,0.962264,0.961538,0.955088,0.025140,12
7,0.273232,0.022001,0.026784,0.003122,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.981569,0.962517,0.981217,0.962264,0.980653,0.973606,0.009204,6
8,0.037376,0.002799,0.006596,0.001356,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.962517,0.962573,0.962264,0.980653,0.969891,0.009145,9
9,0.299615,0.015920,0.024984,0.001413,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.962517,0.981217,0.962264,1.000000,0.981129,0.016827,2
10,0.040575,0.007834,0.010393,0.007833,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.944135,1.000000,0.962264,0.980868,0.973658,0.019077,5
11,0.255842,0.025519,0.022785,0.003308,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.962517,0.981217,0.962264,1.000000,0.981129,0.016827,2